footer {
  background-color: $gray;

  .footer-container {
    display: flex;
    padding: 40px 10px;
  }

  ul {
    flex: 1;
    list-style-type: none;
    li {margin-bottom: 20px}
  }

  a {transition: color linear 0.3s;}
  a:hover { color: $primary; }
}