nav {
  position: fixed;
  top: 0;
  left: 3%;
  right: 3%;
  display: flex;
  align-items: center;
  height: 125px;

  a {
    display: inline-block;
    width: 175px;
    height: 123px;
    line-height: 125px;
    text-align: center;
  }

  .nav-logo { flex: 1; }
  .nav-logo img { width: 125px; }

  .nav-link .active {
    color: $primary;
    border-top: $primary solid 2px;
  }

  .register a {
    font-weight: 700;
    color: $primary;
  }
}