* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

a, a:visited, a:focus {
  text-decoration: none;
  color: black;
}

@import "variables";

@import "parts/nav";