* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import "variables";
@import "globals";

@import "parts/nav";
@import "parts/card";
@import "parts/footer";

@import "pages/homepage/homepage";
@import "pages/homepage/parts/activities";
@import "pages/homepage/parts/hebergements";
@import "pages/homepage/parts/search_barre";

@import "parts/responsive/nav";
@import "parts/responsive/footer";

@import "pages/homepage/homepage_responsive";