* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "variables";
@import "globals";

@import "parts/nav";
@import "parts/card";
@import "parts/footer";

@import "pages/homepage/homepage";
@import "pages/homepage/parts/activites";
@import "pages/homepage/parts/hebergements";
@import "pages/homepage/parts/search_barre";